{% extends "./index.html" %} {% block content %}
<div class="loginform">
  <form action="" method="post">
    <input
      type="text"
      placeholder="Username"
      name="username"
      value="{{ request.form.username }}"
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      value="{{ request.form.password }}"
    />
    <input type="submit" value="Login" />
  </form>
</div>
{% if error %}
<div class="error">
  <p>{{ error }}</p>
</div>
{% endif %} {% endblock %}
