{% extends "./index.html" %}
{% block content %}
    <div class="container">
        {% if passwords %}
            <h2>Passwords:</h2>
            <div class="buffer"></div>
            {% for password in passwords %}
                <div class="pass-container">
                    <p class="pass">{{ password[1] }}</p>
                    <button class="btn button-copy" onclick='copyPass({{ password[2]|tojson }})''>COPY</button>
                </div>
            {% endfor %}
        {% else %}
        <p>No passwords!</p>
        {% endif %}
    </div>
<script>
    function copyPass(password) {
        navigator.clipboard.writeText(password.toString())
    }
</script>
{% endblock %}